* {
  text-decoration: none;
}


body {
  background-color: #2E6171;
}


header {
  background-color: #363636;
  width: 100%;
  height: 50px;
}

nav {
  display: inline-block;
  margin: 15px auto;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: Arial;
  font-size: 16px;
  color: #fff;;
}

