* {
  text-decoration: none;
}


body {
  background-color: #2E6171;
}


header {
  background-color: #363636;
  width: 100%;
  height: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #363636;
  color: #fff;
  text-align: center;
}

nav {
  display: inline-block;
  margin: 15px auto;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: Arial;
  font-size: 16px;
  color: #fff;;
}

a:hover {
  color: red;
}


.info {
  margin: auto;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 500px;
  max-height: 650px;
}

.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-left: 3.5%;
  max-width: 75px;
  max-height: 75px;
}

h1 { 
  text-align: center;
  font-size: 7vh;
  padding: 10px;
  margin: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 2%;
  line-height: 100%;
  letter-spacing: 0.6px;
  margin-top: 30px;
  color: black;
}

.grid-container {
  display: grid;
  gap: 200px;
  grid-template-areas: 
  'a b'
  'd c'
  'e f'
  'h g'
  'i j'
  'l k';
}


.item1 {
  grid-area: a;

}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.item5 {
  grid-area: e;

}

.item6 {
  grid-area: f;
}

.item7 {
  grid-area: g;
}

.item8 {
  grid-area: h;
}

.item9 {
  grid-area: i;
}

.item10 {
  grid-area: j;
}

.item11 {
  grid-area: k;
}

.item12 {
  grid-area: l;
}

.sprite {
  max-width: 500px;
  height: 500px;
  background: url('billeder/sprite.png') 0 0 no-repeat;
  animation: play 4s steps(7) infinite;
}

@keyframes play {
  0%{background-position:0px;}
  100% { background-position: -3500px; }
}


@media (max-width: 600px) {
  p {  
    font-size: 5.2vw;
    text-align: center;
    margin: auto;
    line-height: 100%;
    letter-spacing: 0.6px;
    margin-top: 30px;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 { 
    text-align: center;
    padding: 10px;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
  }


  .grid-container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    'a'
    'b'
    'c'
    'd'
    'e'
    'f'
    'g'
    'h'
    'i'
    'j'
    'k'
    'l';
  }


  .item1 {
    grid-area: a;

  }

  .item2 {
    grid-area: b;
  }

  .item3 {
    grid-area: c;
  }

  .item4 {
    grid-area: d;
  }

  .item5 {
    grid-area: e;

  }

  .item6 {
    grid-area: f;
  }

  .item7 {
    grid-area: g;
  }

  .item8 {
    grid-area: h;
  }

  .item10 {
    grid-area: j;
  }
  
  .item11 {
    grid-area: k;
  }
  
  .item12 {
    grid-area: l;
  }

  
  .social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 75px;
    max-height: 75px;
  }
}