body {
    margin: 0;
    background: #2E6171;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 20 auto;    
}

header {
    background: #363636;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 7%;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 70px;
    padding-top: 60px;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}


a:hover {
    color: #000
}